*.class
*.log
catalog-v001.xml

pom.xml.versionsBackup

*.bak

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
*.iml
*.swp

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cashe
.cache-main
.cache-tests
.classpath


# Scala style checker
*/scalastyle-output.xml
