*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/.project

# IntelliJ IDEA specific
/.idea
*.iml

scalastyle-output.xml


# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cashe
.cache-main
.cache-tests
.classpath

# not sure what creates this project folder
project

# mvn dependency:tree > deptree.txt
deptree.txt

