/* Adjustments for wider content area - based on suggestion from
 * https://github.com/just-the-docs/just-the-docs/issues/524 */

.site-nav, .site-header, .site-footer {
  width: 100%;
}

// Increase the side bar width as some of the page titles don't fit in the default size.
$nav-width: 284px;

// Increase the main content area width as some tables assume a larger size.
$content-width: 900px;

.side-bar {
  @include mq(lg) {
    width: $nav-width;
  }
}

.main {
  @include mq(lg) {
    margin-left: $nav-width;
  }
}

