.navbar {
    border: none;
    background: #A94F74;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a {
    background: #B96A8B;
}

.dropdown-header {
    color: #A94F74;
}

div.olControlZoom a,
div.olControlTextButtonPanel .olButton {
    background: #A94F74;
    transition: background 0.2s ease-out;
}

div.olControlZoom a:hover,
div.olControlTextButtonPanel .olButton:hover {
    background: #B96A8B;
}

.btn-group-vertical {
 	padding: 2px;
    border-radius: 4px;
    background: rgba(255,255,255,0.4);
}

.btn-group-vertical button {
    background: #A94F74;
}

#drawPoint,
#drawRectangle {
    height: 22px;
    width: 22px;
    padding: 0;
    margin: 1px 1px 1px 1px !important;
    font-size: 16px;
    text-align: center;
    line-height: 1;
}

#drawPoint:hover,
#drawRectangle:hover {
    color: white;
    background: #B96A8B;
}

#drawPoint i,
#drawRectangle i {
    font-size: inherit;
}

#animatePanelButton,
#animateTimelineButton {
	width: auto;
    height: auto;
    right: 99%;
    padding: 1rem;
    line-height: 1;
    background: #26a69a;
}

#legendPanel {
    width: 30%;
    background: #F9F9F9;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: transparent;
    border: none;
    padding: 0;
}

#sextantPanels {
    background-color: #F9F9F9;
}

#sextantPanels table {
    margin: 0;
    padding: 0;
}

#sextantPanels > div h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1;
}

#sextantPanels > div > div h4:after {
    content: "\f0d7";
    margin-left: 1rem;
    font-family: FontAwesome;
    font-size: 16px;
}

#sextantPanels .page-header {
    padding: 1rem 0;
    margin: 0;
    border: none;
}

#sextantPanels .page-header .row {
    margin: 0;
}

#sextantPanels .col-md-1 {
    padding: 0;
    text-align: right;
}

#sextantPanels .col-md-1 i {
    font-size: 1.4rem;
}

#sextantPanels .col-md-11 {
    padding: 0;
}

#sextantPanels > div[data-toggle] + div {
    background: transparent;
    border-bottom: 1px solid #BFBFBF;
}

#sextantPanels > div[data-toggle] + div > div {
    padding: 10px 0 30px 0;
}

#sextantPanels > div[data-toggle].collapsed + div {
    border: none;
}

#layerspage {
    text-transform: capitalize;
}

#buttonsG > button {
    border-radius: 0;
    background: #A94F74;
    padding: 0;
    width: 36px;
    box-shadow: none;
}

#buttonsG > button:hover {
    background: #26a69a;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

#exploreBody button {
    padding: 0;
    line-height: 1;
    text-align: center;
}

.btn,
.btn-large {
    padding: 0;
    text-align: center;
    background: #26a69a;
}

.btn:hover,
.btn-large:hover {
    background: #4CD6C9;
    color: white;
}

#timelineInfo {
    width: auto;
}

#goLeft > button,
#goRight > button,
#playTimeline > button {
    padding: 0 5px;
}